<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <h1>Signup form</h1> 
    <form method="POST" action="/user" >
        <label>Enter name</label>
        <br>
        <input type="text" name="name"/>
        <br/><hr/><br/>
        <label>email</label><br>
        <input type="email" name="email" placeholder="john@gmail.com"/>
        <br/><hr/><br/>
        <label>Password</label><br> 
        <input type="password"name="password" placeholder="xxxxxxxxx"/>
        <br/><hr/><br/>
        <button type="submit">signup</button>
    </form>
</body>
</html>